<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  -->

  <configSections>
  </configSections>
  <connectionStrings />
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="SERVER_INFO" value="L" />
    <add key="SERVER_SELECTION" value="False" />

    <!--<add key="SQL_CONNSTR" value="Data Source=192.168.1.251;Initial Catalog=SMART_tBR;User ID=@dmin;Password=A!s@D#f$G%" /> -->
    <add key="SQL_CONNSTR" value="Data Source=JAISON;Initial Catalog=Madagaskar;User ID=User_Madagaskar;Password=Madagaskar" />
    <add key="SQL_CONNSTR_P" value="Data Source=115.160.253.251,9846;Initial Catalog=SMART_tBR;User ID=@dmin;Password=A!s@D#f$G%" />
    
    <add key="COMPANY_CODE" value="1" />
    
    <add key="DATABASE" value="Madagaskar" />
    <add key="DATABASE_P" value="SMART_tBR" />
    <add key="REPORT_FOLDER" value="D:\AROMA\SMARTtBR" />
    <add key="LOG_FILE" value="SMARTtBR.txt" />
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>